
@{
    ViewData["Title"] = "Index page";
}

@model SelectList
@{
    ViewBag.Title = "Index";
}
<h1>@ViewData["text"]</h1>
<h2>Список</h2>
<ol type="A">
    @for (int i = 0; i < 5; i++)
    {
    <li>элемент @i списка</li>
    }
</ol>
<hr />

<!---------------------------Форма-------------------------------------->
<h2>Форма</h2>

<form role="form" method="post" asp-action="index">
<div class="row">
<div class="col-sm-10 offset-sm-2">
<select class="form-select " asp-items="Model" name="selDemo"></select>
</div>
</div>
<!---------------------------Линия-------------------------------------->
        <hr class="hr-line">
    <style>
    .hr-line 
        {
            margin: 20px 0;
            padding: 0;
            height: 0;
            border: none;
            border-top: 1px solid #333;
        }
    </style>
  <!---------------------------Чек-бокс-------------------------------------->
<div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Чек-бокс 1
        </label>
      </div>
    </div>
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck2">
        <label class="form-check-label" for="gridCheck2">
          Чек-бокс 2
        </label>
      </div>
    </div>
  </div>
  <!---------------------------Радио-кнопка-------------------------------------->
  <fieldset class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
        <label class="form-check-label" for="gridRadios1">
          Радио-1
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
        <label class="form-check-label" for="gridRadios2">
          Радио-2
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
        <label class="form-check-label" for="gridRadios3">
          Радио-3
        </label>
      </div>
    </div>
  </fieldset>
  <!---------------------------Поля для заполнения-------------------------------------->
  <div class="row mb-3">
    <label for="inputLogin3" class="col-sm-2 col-form-label">Логин:</label>
    <div class="col-sm-10">
      <input type="login" class="form-control" id="inputLogin3" placeholder="Введите имя">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Введите пароль">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>

