@using BORISEVICH.Domain.Entities


@if (Book != null)
{
	<div class="card mt-5" style="width: 18rem;">
		<img src="@Book.Image" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">@Book.Name</h5>
			<p class="card-text">@Book.Author</p>
			<h4 class="badge bg-info">@Book.Page страниц</h4>
		</div>
	</div>
}
@code {
	[Parameter]
	public Book Book { get; set; }
	[Parameter]
	public EventCallback<Book> BookChanged { get; set; }
}